SECRET_KEY=MY_SECRET_KEY
# DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/postgres
POSTGRES_PASSWORD=postgres
# CACHE
REDIS_PORT=6379
REDIS_URL=redis://redis:${REDIS_PORT}
REDIS_EXPIRE=3600
# BROKER
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
# CELERY
CELERY_TASK_PERIOD=15
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:${RABBITMQ_PORT}//
# FLOWER
FLOWER_PORT=5555
